* {
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
/* Deze code wordt overal toegepast */

body {
  background-color: #474a56;
}

header {
  width: 100%;
  height: auto;
  background-color: rgb(17, 17, 17);
  color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

@media screen and (max-width: 500px) {
  header {
    float: none;
    display: block;
    text-align: left;
  }
}

.mijn_portfolio {
  display: flex;
  margin-left: 10px;
  block-size: 2px #ff0000;
  border-radius: 6px;
}

nav {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 0 10px;
}

/* flex 1 zorgt voor de list rechts in de header komt te staan in plaats van links */
nav ul {
  flex: 1;
  text-align: right;
  padding-right: 40px;
}

/* Zorgt ervoor dat de list naast elkaar en niet onder elkaar komt te staan */
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 17px;
}

nav ul li a:hover {
  color: #ff0000;
  transition-duration: 0.2;
}

nav ul li a:active {
  color: #b91646;
}

.portfolio {
  width: 75%;
  height: 450px;
  margin: 10%;
  padding: 35px;
  border: black solid 2px;
  border-width: 5px;
  border-style: outset;
  background-color: rgb(17, 17, 17);
  box-shadow: #b91646 6px 6px;
  border-radius: 6px;
}

.tekst_box {
  margin-top: 30px;
  display: inline-block;
  border-radius: 6px;
  padding: 10px 30px;
}

.contact_me {
  margin-top: 30px;
  display: inline-block;
  border-radius: 6px;
  border: 2px solid white;
  color: white;
  padding: 10px 30px;
}

.download_cv {
  margin-top: 30px;
  display: inline-block;
  border-radius: 6px;
  border: 2px solid black;
  color: black;
  padding: 10px 30px;
  background-color: #ff0000;
}

.contact_me:hover {
  color: #ff0000;
  border: 2px solid #ff0000;
}

.download_cv:hover {
  color: black;
  border: 2px solid #ff0000;
}

.contact_me:active {
  color: #b91646;
  border: 2px solid #b91646;
}

.download_cv:active {
  color: black;
  border: 2px solid #b91646;
  background-color: #b91646;
}

header h2 {
  display: flex;
  justify-content: left;
}

span.auto-input,
h1 {
  width: 500px;
  height: auto;
}

.about_auto_input {
  padding-left: 10px;
  padding-top: 15px;
}

.contact_auto_input {
  padding-left: 10px;
  padding-top: 15px;
}

.auto-input {
  color: #ff0000;
}

.profielfoto img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: rgb(0, 0, 0) url(download.jpg);
}

h2 {
  padding-left: 0px;
  padding-right: 450px;
}

span.auto-input {
  justify-content: center;
  padding-top: 50px;
}

table {
  width: 75%;
  height: auto;
  background-color: rgb(17, 17, 17);
  border-width: 5px;
  border-style: outset;
  display: flex;
  box-shadow: #b91646 4px 4px;
  border-radius: 2px;
}

table,
th,
tr {
  border: rgb(17, 17, 17) solid;
  color: #ff0000;
}

.tabel,
table,
th,
tr,
td {
  margin-left: 100px;
  padding: 4px;
}

footer {
  width: 99%;
  height: 100px;
  width: 100%;
  background-color: rgb(17, 17, 17);
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: black 2px solid;
  margin-top: 5%;
}

.backtotop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  transition-duration: 0.8;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: black;
  color: white;
  text-align: center;
  border-style: outset;
}

.backtotop:hover {
  background-color: #ff0000;
  color: black;
}

.backtotop:active {
  background-color: #b91646;
  color: black;
}
