* {
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #020412;
}
/* body */

header {
  width: 100%;
  height: 100px;
  background-color: #000000;
  color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
/* header */

nav {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 0 10px;
}
/* nav */

nav ul {
  flex: 1;
  text-align: right;
  padding-right: 40px;
}
/* nav ul */

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
}
/* Zorgt ervoor dat de list naast elkaar en niet onder elkaar komt te staan */

nav ul li a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 17px;
}

nav ul li a:hover {
  color: #fff724;
}

nav ul li a:active {
  color: #beb800;
}

header h2 {
  display: flex;
  justify-content: left;
}
/* header titel */

.portfolio {
  width: 75%;
  height: 450px;
  margin: 10%;
  padding: 35px;
  border: black solid 2px;
  box-shadow: 20px 20px 1px black;
  border-width: 5px;
  border-style: outset;
  background-color: black;
}

.profielfoto {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: white url();
}

/* .pagina1,
.pagina2,
.pagina3 {
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  text-align: above;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: white;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #c32bad;
}

.pagina1,
.pagina2,
.pagina3:hover {
  background-color: white;
}

.pagina1,
.pagina2,
.pagina3:active {
  background-color: white;
  /* box-shadow: 0 5px #7027a0; */
/* transform: translateY(4px); */
/* } */

h1 {
  width: 20%;
  height: auto;
  padding-bottom: 5px;
}

h2 {
  padding-left: 0px;
  padding-right: 450px;
}

.witblok {
  display: flex;
  justify-content: center;
}

table {
  width: 75%;
  height: auto;
  background-color: white;
  border-width: 5px;
  border-style: outset;
  display: flex;
  justify-content: center;
  box-shadow: 10px 10px;
}

table,
th,
tr,
td {
  border: #3d4453 solid;
  border-radius: 12px;
}

footer {
  width: 99%;
  height: 100px;
  width: 100%;
  background-color: black;
  color: #fff;
  text-align: center;
  box-shadow: 20px 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: black 2px solid;
  margin-top: 5%;
}

.backtotop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  transition-duration: 1;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: black;
  color: white;
  text-align: center;
  border-style: outset;
  scroll-behavior: smooth;
}

/* .pagina1,
.pagina2,
.pagina3 {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: black;
  border: none;
  box-shadow: 0 9px #1db9c3;
}

.pagina1,
.pagina2,
.pagina3:hover {
  background-color: black;
}

.pagina1,
.pagina2,
.pagina3:active {
  background-color: black;
  box-shadow: 0 5px #2593be;
  transform: translateY(4px);
} */
